html,body,h1,h2,h3,h4,h5,footer {font-family: "Open Sans", sans-serif}
body{
    background: rgba(183, 191, 183, 0.23);
}

a {
    text-decoration:none;
}

.custom-footer {
    font-size: 15px; color: #7f7f7f;
}
.custom-container{
    max-width: 1400px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.fixed {position: fixed; left: 0; bottom: 0;}

.main-logo {
    text-decoration:none;
    color: rgba(255, 255, 255, 0.53);
    font-weight: bold;
    font-size: 20px;
}
.main-logo:hover {
    color: rgba(255, 255, 255, 0.72);
}

.small-avatar {
    border: rgba(255, 255, 255, 0) 3px solid;
    width:63px
}
.small-avatar:hover {
    border-color: #d8d8d8;
}

.input-form label{
    text-align: right;
    display: inline-block;
    width: 20%;
}
.input-form input{
    width: 75%;
    padding: 5px;
}
.input-form input::placeholder{
    font-size: 12px;
}
.input-form button{
    width: 20%;
}

#loaderGif {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 9999;
    background: url(https://t.76.my/res/img/ajax-loader.gif?180321) no-repeat right 10px top 60px rgba(180,180,180,0.25);
}
.w3-content{max-width:1200px}
.exit-on-keyDown{
    width: 150px;
}

.dropdown {
    border-bottom: solid 1px silver;
    border-right: solid 1px silver;
    border-left: solid 1px silver;
    height: 35px;
    width: 210px;
    margin-left: 166px;
    background-color: rgba(240,240,240,0.57);
    padding: 5px 5px 5px 10px;
}
.dropdown:hover {
    background-color: rgba(190, 201, 221, 0.57)
}


/*html {*/
    /*height: 100%;*/
/*}*/
/*body {*/
    /*background: #f3f3f3;*/
    /*height: 100%;*/
/*}*/
/*header {*/
    /*height: 50px;*/
    /*background: #333f5f;*/
    /*padding: 5px 20px 5px 20px;*/
    /*font-size: 24px;*/
    /*color: #ffca81;*/
/*}*/
/*footer {*/
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*background: #e1e1e1;*/
    /*height: 40px;*/
    /*font-size: 12px;*/
    /*padding: 5px 20px 5px 20px;*/
    /*color: #777777;*/
/*}*/
/*.main-container {*/
    /*background: white;*/
    /*padding:15px 15px 15px 15px;*/
    /*height: 100%;*/
/*}*/