.friends-user-info {
    padding: 0 5px;
    float: left;
    /*width: auto;*/
    border: none;
    display: block;
    /*outline: 0;*/
}

.m-block {
    margin: 10px 0 0 0;
    font-size: 15px!important;
}

.s-block {
    margin: 5px 0;
    font-size: 12px!important;
}

.msg-button{
    /*background-color: rgba(210, 221, 224, 0.1);*/
    cursor: pointer;

    /*border: none;*/
    /*display: inline-block;*/
    /*padding: 8px 16px;*/
    /*vertical-align: middle;*/
    /*overflow: hidden;*/
    /*text-decoration: none;*/
    /*color: inherit;*/
    /*background-color: inherit;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
    /*white-space: nowrap;*/

}
.msg-button:hover{
    background-color: rgba(139, 149, 152, 0.29);
}
.msg-user-name {
    font-size: 18px!important;
}
.msg-date-block {
    padding-right: 6px;
    float: right;
    font-size: 12px!important;
    color: #0c5c81;
}
.msg-approve-icon {
    font-size: 12px!important;
    color: #3a9e48;
}
.msg-preview {
    font-size: 12px!important;
}

.message {
    color: #484848;
    width: 70%;
    padding: 5px 60px 5px 15px;
    word-wrap: break-word;
}

.message-from {
    background-color: rgba(12,99,148,0.06);
    margin: 15px 5px 0 5px;
    border-radius: 5px 30px 30px 30px;
}

.message-to {
    background-color: rgba(16,143,57,0.13);
    margin: 15px 15px 5px auto;
    border-radius: 30px 30px 5px 30px;
}

.message-right-block {
    float: right;
    margin-right: -45px;
    font-size: small
}

.msg-time {

    margin-top: 5px;
    color: #7f7f7f;
}
.msg-appr {
    font-size: 12px!important;
    color: #3a9e48;
    padding-right: 40px;
    padding-top: 9px;
}


.buttons {
    margin-top: 30px;
    color: rgba(110,110,110,0.73);
}

