<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'ERROR '+${error.getCode()}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<header>Find Me</header>

<body>
<div class="w3-content main-container">
    <div th:text="${error.getDescription()}+' - '+${error.getMessage()}"></div>
</div>
</body>

<footer>Footer</footer>

</html>