<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="../static/css/theme.css" type="text/css" th:href="@{/css/theme.css}"/>
<link rel="stylesheet" href="../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}"/>
<link rel="stylesheet" href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}"/>
<link rel="stylesheet" href="../static/css/pace.css" type="text/css" th:href="@{/css/pace.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/home.js" th:src="@{/js/home.js}"></script>
<script type="text/javascript" src="../static/js/post.js" th:src="@{/js/post.js}"></script>
<!--<script type="text/javascript" src="../static/js/pace.js" th:src="@{/js/pace.js}"></script>-->
<body>
<header th:replace="common/header.html :: header"></header>

<div class="w3-container w3-content" style="margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!--Menu-->
            <div class="w3-round w3-white">
                <a class="w3-button w3-block w3-theme-l1 w3-left-align" th:href="@{'/user/' + ${loggedUser.getId()}}">
                    <i class="fa fa-user-alt fa-fw w3-margin-right"></i>Profile
                </a>
            </div>
            <div class="w3-round w3-white">
                <a class="w3-button w3-block w3-theme-l1 w3-left-align">
                    <i class="fa fa-users fa-fw w3-margin-right"></i>Friends
                </a>
            </div>
            <br>
        </div>

        <!-- Middle Column -->
        <div class="w3-col m9">
            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-col m12">
                    <div class="w3-container w3-padding w3-white">
                        <form id="newsFilterForm">
                            <label for="resultsOnPage" class="w3-opacity inline">Results: </label>
                            <select id="resultsOnPage" name="results" style="width: 50px; margin-left: 10px">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Post list -->
            <div id="getResultDiv">
                <div class="list-group">
                </div>
                <br>
                <button id="loadMore">More</button>
            </div>

        </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->

    <!-- Footer -->
    <footer th:replace="common/footer.html :: footer"></footer>
</div>
</body>

<script>
    let currentListPart = 1;

    $(document).ready ( function(){
        ajaxGetNews();
    });

    $('#newsFilterForm').change(function(event) {
        event.preventDefault();
        $('#getResultDiv div').empty();
        currentListPart = 1;
        ajaxGetNews();
    });

    $('#loadMore').click(function(event) {
        currentListPart++;
        event.preventDefault();
        ajaxGetNews();
    });


    function ajaxGetNews(){
        // DO GET
        $.ajax({
            type : "GET",
            url : "/get-news",
            data: {
                maxResult: $("#resultsOnPage option:selected").text(),
                currentListPart: currentListPart
            },
            success : function(result) {
                $.each(result, function(i, post){
                    let postInfo = "<div>\n" +
                        "                <div class=\"w3-container w3-white w3-margin\" style=\"position: relative\">\n" +
                        "                    <div>\n" +
                        "                        <br>\n" +
                        "                        <img src=\"http://agarioskins.com/submitted/useruploads/Thug%20Cat.png\" alt=\"Avatar\" class=\"w3-left w3-circle w3-margin-right\" style=\"width:60px\">\n" +
                        "                        <span class=\"w3-right w3-opacity\">"+parsePostDate(new Date(post.datePosted))+"</span>\n" +
                        "                        <h4 class=\"inline\">" + post.userPosted.firstName + " " + post.userPosted.lastName.substring(0, 1) + ".</h4>\n" +
                        "                            <p class=\"inline w3-opacity w3-margin-left\">"+parsePostTaggedUsersAndLocation(post.usersTagged, post.location)+"</p><br>\n" +
                        "                        <hr class=\"w3-clear\">\n" +
                        "                        <p>" + post.message + "</p>\n" +
                        "                    </div>\n" +
                        "                </div>\n" +
                        "            </div>";
                    $('#getResultDiv .list-group').append(postInfo)
                });
            },
            error : function(e) {
                $('#getResultDiv').html("<div class=\"w3-container w3-white w3-margin\">Error</div>");
                console.log("ERROR: "+ e);
            }
        });
    }


</script>
</html>
