<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="../static/css/theme.css" type="text/css" th:href="@{/css/theme.css}"/>
<link rel="stylesheet" href="../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}"/>
<link rel="stylesheet" href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
<div id="loaderGif"></div>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-theme-d2 w3-left-align w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Find me</a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px;">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m4">
            <!-- Registration/Login -->
            <div class="w3-card w3-round w3-white" style="min-height: 600px;">
                <div class="w3-container">
                    <h3 class="w3-opacity w3-center">Authorization</h3>
                    <br>
                    <!--<form id="login">-->
                        <!--Email:<input type="text" name="email"><br>-->
                        <!--Password:<input type="password" name="password"><br>-->
                        <!--<input type="submit" value="login">-->
                   <!--</form>-->

                    <div class="w3-container w3-padding input-form">
                        <form id="login">
                            <h6 class="w3-text-theme">Email: </h6>
                            <input class="w3-border w3-padding" type="text" name="email" style="width: 100%; min-width: 150px" required>
                            <h6 class="w3-text-theme">Password: </h6>
                            <input class="w3-border w3-padding" type="password" name="password" style="width: 100%; min-width: 150px" required>
                            <hr>
                            <button type="submit" class="w3-button w3-theme" style="width: 40%; min-width: 100px"><i class="fa fa-pencil-alt"></i>  Login    </button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <!-- End Left Column -->
        </div>


        <!-- Middle Column -->
        <div class="w3-col m8">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white" style="min-height: 600px;">
                        <div class="w3-container w3-padding">
                            <h3 class="w3-opacity w3-center">Welcome to Findme </h3>
                            <br>
                            <div>
                                <h4 class="w3-opacity">Registration</h4>
                                <form id="registration-form" class="input-form">
                                    <p class="w3-opacity">Please fill in this form to create an account.</p>
                                    <hr>
                                    <div class="w3-container">
                                        <div class="w3-padding-small">
                                            <label for="first_name" class="w3-margin-right w3-text-theme">First name: </label>
                                            <input class="w3-border w3-padding" id="first_name" placeholder="Enter your first name" type="text" name="firstName" required>
                                        </div>
                                        <div class="w3-padding-small">
                                            <label for="last_name" class="w3-margin-right w3-text-theme">Last name: </label>
                                            <input class="w3-border w3-padding" id="last_name" placeholder="Enter your last name" type="text" name="lastName" required>
                                        </div>
                                        <div class="w3-padding-small">
                                            <label for="phone" class="w3-margin-right w3-text-theme">Phone: </label>
                                            <input class="w3-border w3-padding" id="phone" placeholder="+380801111111" type="text" name="phone" required>
                                        </div>
                                        <div class="w3-padding-small">
                                            <label for="email" class="w3-margin-right w3-text-theme">Email: </label>
                                            <input class="w3-border w3-padding" id="email" placeholder="Enter email" type="text" name="email" required>
                                        </div>
                                        <div class="w3-padding-small">
                                            <label for="password" class="w3-margin-right w3-text-theme">Password: </label>
                                            <input class="w3-border w3-padding" id="password" placeholder="Enter password" type="password" name="password" required>
                                        </div>
                                        <hr>
                                        <div class="w3-padding-small">
                                            <label class="w3-margin-right w3-text-theme"><p id="loading" style="display:none">waiting... </p></label>
                                            <button type="submit" class="w3-button w3-theme">Register</button>
                                        </div>
                                    </div>

                                </form>
                                <input id="showUsers_btn" class="w3-button w3-right w3-text-theme" type="button" value="show users list" />
                            </div>

                            <div id="usersList" style="display:none;">
                                <div class="w3-padding-small">
                                    <p class="inline w3-margin-right w3-text-theme">Registered: </p>
                                    <div class="inline" th:text="${userList.size()}">50</div>
                                </div>
                                <br>
                                <table class="w3-table w3-striped w3-border">
                                    <tr>
                                        <th>ID</th>
                                        <th>NAME</th>
                                        <th>DATE REGISTERED</th>
                                        <th>LAST ACTIVITY</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.getId()}">0</td>
                                        <td th:text="${user.getFirstName()}+' '+${user.getLastName()}">Test Test</td>
                                        <td th:text="${user.getDateRegistered()}">2018-01-01</td>
                                        <td th:text="${user.getDateLastActive()}">2018-01-01</td>
                                        <td>
                                            <a th:href="@{'/user/' + ${user.getId()}}">
                                                <button type="button" class="w3-button w3-theme">
                                                <i class="fa fa-user-circle"></i> Profile</button>
                                            </a>
                                        </td>
                                        <td>
                                            <button id="userRemove" type="button" class="w3-button w3-theme" style="width: 50px" th:onclick="|userDelete('${user.getId()}')|">
                                            <i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Middle Column -->
        </div>
        <!-- End Grid -->
    </div>

    <!-- End Page Container -->


<!-- Footer -->
<footer class="w3-center custom-footer">
    <p>Footer копирайты</p>
</footer>
</div>
</body>

<script>
    var loader = $('#loaderGif');

    // //submit reg form
    $("#registration").submit(function register() {
        loader.show();
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/register-user",
            // async: false,
            data: $('#registration-form').serialize(),
            success:function success() {
                loader.hide();
                alert('User registered successfully');
                window.location.reload(true);
            },
            error: function(xhr) {
                // debugger;
                loader.hide();
                alert(xhr.responseText);
            }
        });
    });

    $('#showUsers_btn').click(function () {
        var button =  $('#showUsers_btn');
        var list = $('#usersList');

        if(list.css("display") === 'none'){
            button.val('hide users list');
            list.show(150);
        } else {
            button.val('show users list');
            list.hide(150);
        }
    });

    function userDelete(id) {
        if(confirm('Remove user with id: '+id+'?')) {
            loader.show();
            $.ajax({
                type: "DELETE",
                url: "remove-user/" + id,
                // async: false,
                success: function success() {
                    debugger;
                    loader.hide();
                    alert('User removed successfully');
                    window.location.reload(true);
                },
                error: function (xhr) {
                    debugger;
                    loader.hide();
                    alert(xhr.responseText);
                }
            });
        }
    }

    $("#login").submit(function login() {
        loader.show();
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/login",
            data: $('#login').serialize(),
            success:function success(data) {
                loader.hide();
                alert('User logged in');
                window.location.reload(true);
            },
            error: function(xhr) {
                loader.hide();
                alert(xhr.responseText);
            }
        });
    });

</script>
</html>
