<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="../static/css/theme.css" type="text/css" th:href="@{/css/theme.css}"/>
<link rel="stylesheet" href="../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}"/>
<link rel="stylesheet" href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}"/>
<link rel="stylesheet" href="../static/css/pace.css" type="text/css" th:href="@{/css/pace.css}"/>
<link rel="stylesheet" href="../static/css/message.css" type="text/css" th:href="@{/css/message.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/home.js" th:src="@{/js/home.js}"></script>
<script type="text/javascript" src="../static/js/post.js" th:src="@{/js/post.js}"></script>
<script type="text/javascript" src="../static/js/message.js" th:src="@{/js/message.js}"></script>
<script type="text/javascript" src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<!--<script type="text/javascript" src="../static/js/pace.js" th:src="@{/js/pace.js}"></script>-->
<body>
<header th:replace="common/header.html :: header"></header>


<div class="w3-container w3-content" style="margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!--Menu-->
            <div class="w3-ul w3-white" style="max-height: 600px; overflow-y:scroll">
                <div th:each="user : ${friendsList}">
                    <button th:id="'user'+${user.id}" class="w3-bar w3-button" style="padding: 0 0 0 0;" th:onclick="|changeRecipient(${user.id})|">
                        <img src="http://agarioskins.com/submitted/useruploads/Thug%20Cat.png" alt="Avatar" class="avatar avatar-s2 avatar-border w3-left w3-circle" style="margin: 7px 5px 7px 5px;">
                        <div class="friends-user-info">
                            <span class="m-block w3-left" th:text="${user.firstName}+' '+${user.lastName}">Mike Dod</span>
                            <!--<span class="time-block w3-right">02.01.2019</span>-->
                            <!--<br>-->
                            <!--<span class="s-block w3-left w3-text-theme" th:text="${user.firstName}+' '+${user.lastName}">Here is test message, fuck y...</span>-->
                            <!--<i class="fa fa-check approve w3-right"></i>-->
                        </div>
                    </button>
                </div>
            </div>

            <br>
        </div>

        <!-- Middle Column -->
        <div class="w3-col m9">
            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-col m12">
                    <div class="w3-container w3-padding w3-white">
                        <div id="history" style="height: 600px; overflow-y:scroll; margin-bottom: 10px">
                            <div id="getMessagesDiv">
                                <div class="messages-list-group">

                                    <!--<div class="w3-text-theme w3-margin">-->
                                        <!--<span>from Kot: hello</span>-->
                                        <!--<button class="w3-right w3-theme-l0 w3-button" onclick="messageDelete()">delete</button>-->
                                        <!--<button class="w3-right w3-theme-l0 w3-button" onclick="messageUpdate()">edit</button>-->
                                    <!--</div>-->

                                    <!--<div style="width: 100%">-->
                                        <!--<div class="message message-from">-->
                                            <!--<span>test<br>-->
                                                <!--tttttt-->
                                                <!--sdddddddddddddddddddddddddddddddddddddddddddddd dddd <br>-->
                                                <!--dsdfsdfsdf-->
                                            <!--</span>-->
                                            <!--<span class="message-right-block time">14:33</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div style="width: 100%">-->
                                        <!--<div class="message message-to">-->
                                            <!--<span>textdfklgjkld  jkl kkcc<br>-->
                                            <!--sdgddfg <br>-->
                                                <!--dfgd-->
                                            <!--</span>-->

                                            <!--<span class="message-right-block msg-time">-->
                                                <!--14:33</span>-->
                                            <!--<span class="message-right-block buttons">-->
                                                <!--<i onclick="" class="far fa-edit w3-hover-opacity" style="margin-right: 2px"></i>-->
                                                <!--<i class="far fa-trash-alt w3-hover-opacity" style="margin-right: 2px"></i>-->
                                            <!--</span>-->
                                            <!--<i class="fa fa-check msg-appr message-right-block"></i>-->

                                        <!--</div>-->
                                    <!--</div>-->


                                </div>
                            </div>
                        </div>
                        <form id="messageSendFrom">
                            <label for="id"></label><input class="w3-hide" id="id" type="text" name="id">
                            <label for="userFromId"></label><input th:value="${loggedUserId}" class="w3-hide" id="userFromId" type="text" name="userFromId">
                            <label for="userToId"></label><input class="w3-hide" id="userToId" type="text" name="userToId">
                            <!--<label for="text"></label><input class="" id="text" type="text" name="userToId">-->
                            <label for="text">
                                <textarea rows="4" cols="50" id="text" name="text" style="height: 100px; width: 100%; border: #dddddd 1px solid; resize: vertical" required></textarea>
                            </label>
                            <div style="height: 50px">
                                <button type="reset" class="w3-button w3-right w3-theme-d1 w3-margin-left w3-hide" style="left: 0; margin-top: 5px; width: 80px">Cancel</button>
                                <button id="submitBtn" type="submit" class="w3-button w3-right w3-theme-d1" style="left: 0; margin-top: 5px; width: 80px">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->

    <!-- Footer -->
    <footer th:replace="common/footer.html :: footer"></footer>
</div>
</body>

<script>
    let recipientDiv;
    let recipientId = 0;

    $(document).ready ( function(){
        if(!parseInt(localStorage['recipientId'], 10) > 0) {
            localStorage['recipientId'] = 0;
        }
        changeRecipient(parseInt(localStorage['recipientId'], 10));
        // alert('ready: storId: '+localStorage['recipientId']+'recipientId: '+recipientId);
    });

    function setRecipient(id){
        let localRecipientId = id;
        if(localRecipientId !== null){
            recipientId = localRecipientId;
            localStorage['recipientId'] = localRecipientId;
            recipientDiv = $('#user'+recipientId);
        }
    }

    function changeRecipient(id) {
        // alert('changeRecipient: storId: '+localStorage['recipientId']+'recipientId: '+recipientId);
        // alert(localStorage['recipientId'] !== id);
        // if(localStorage['recipientId'] !== id){
            if($(recipientDiv).hasClass('active-element'))
                $(recipientDiv).removeClass('active-element');

            setRecipient(id);

            $(recipientDiv).addClass('active-element');
            $('#userToId').val(recipientId);

            ajaxGetMessages();
        // }
    }

    $("#messageSendFrom").submit(function messageSend(){
        if($('#id').val()==='') {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "/send-message",
                data: $('#messageSendFrom').serialize(),
                success: function success() {
                    $('#text').val('');
                    ajaxGetMessages();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        } else {
            let jsonMessage = {
                id: $('#id').val(),
                text: $('#text').val()
            };

            $.ajax({
                type: "PUT",
                url: "/edit-message",
                contentType: "application/json",
                data: JSON.stringify(jsonMessage),
                success: function success() {
                    $('#text').val('');
                    ajaxGetMessages();
                },
                error: function(xhr) {
                    alert(xhr.responseText);
                }
            });
        }
    });

    function ajaxGetMessages(){
        // DO GET
        $.ajax({
            type : "GET",
            url : "/get-messages",
            data: {
                userToId: recipientId
            },
            success : function(result) {
                $('#getMessagesDiv div').empty();
                $.each(result, function(i, message){
                    let messageInfo;
                    //
                    // alert('userFrom '+message.userFrom.id);
                    // alert('recipientId '+recipientId);
                    // alert('message.userFrom.id !== recipientId: '+message.userFrom.id !== recipientId);
                    // alert('message.userFrom.id != recipientId: '+message.userFrom.id != recipientId);

                    if(message.userFrom.id !== recipientId){
                        messageInfo = "<div style=\"width: 100%\">" +
                            "              <div class=\"message message-to\">" +
                            "                  <span>"+message.text+"</span>" +
                            "                  <span class=\"message-right-block msg-time\">"+parseDateSent(new Date(message.dateSent))+"</span>";

                        messageInfo += (message.dateRead == null) ? "<span class=\"message-right-block buttons\">" +
                            "               <i onclick=\"messageUpdate("+message.id+",'"+message.text+"')\" class=\"far fa-edit w3-hover-opacity\" style=\"margin-right: 2px\"></i>" +
                            "               <i onclick=\"messageDelete("+message.id+")\" class=\"far fa-trash-alt w3-hover-opacity\" style=\"margin-right: 2px\"></i>" +
                            "           </span>" : "";
                        messageInfo += (message.dateRead != null) ? "<i class=\"fa fa-check msg-appr message-right-block\"></i>" : "";

                        messageInfo += "</div></div>";
                    } else {
                        messageInfo = "<div style=\"width: 100%\">" +
                            "              <div class=\"message message-from\">" +
                            "                   <span>"+message.text+"</span>" +
                            "                   <span class=\"message-right-block msg-time\">"+parseDateSent(new Date(message.dateSent))+"</span>" +
                            "              </div>" +
                            "          </div>";

                    }
                    $('#getMessagesDiv .messages-list-group').append(messageInfo)
                    $('#history').scrollTop($('#history')[0].scrollHeight);
                });
            },
            error : function(e) {
                $('#getMessagesDiv').html("<div class=\"w3-container w3-white w3-margin\">Error</div>");
                console.log("ERROR: "+ e);
            }
        });
    }

    function messageDelete(id){
        if (confirm("Do you want delete this message?")) {
            $.ajax({
                type: "DELETE",
                url: "/delete-message?messageId="+id,
                success: function success() {
                    ajaxGetMessages();
                },
                error: function(xhr) {
                    alert(xhr.responseText);
                }
            });
        }
    }

    function messageUpdate(id,text){

        // alert(id);
        // $('#submitBtn').val('Edit');

        $('#id').val(id);
        $('#text').val(text);
    }


</script>
</html>
