<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="../static/css/theme.css" type="text/css" th:href="@{/css/theme.css}"/>
<link rel="stylesheet" href="../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}"/>
<link rel="stylesheet" href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}"/>
<link rel="stylesheet" href="../static/css/pace.css" type="text/css" th:href="@{/css/pace.css}"/>
<link rel="stylesheet" href="../static/css/message.css" type="text/css" th:href="@{/css/message.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/home.js" th:src="@{/js/home.js}"></script>
<script type="text/javascript" src="../static/js/post.js" th:src="@{/js/post.js}"></script>
<!--<script type="text/javascript" src="../static/js/pace.js" th:src="@{/js/pace.js}"></script>-->
<body>
<header th:replace="common/header.html :: header"></header>


<div class="w3-container w3-content" style="margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!--Menu-->
            <div class="w3-ul w3-white" style="max-height: 600px; overflow-y:scroll">
                <div th:each="user : ${friendsList}">
                    <button th:id="'user'+${user.id}" class="w3-bar w3-button" style="padding: 0 0 0 0;" th:onclick="|changeRecipient(${user.id})|">
                        <img src="http://agarioskins.com/submitted/useruploads/Thug%20Cat.png" alt="Avatar" class="avatar avatar-s2 avatar-border w3-left w3-circle" style="margin: 7px 5px 7px 5px;">
                        <div class="friends-user-info">
                            <span class="m-block w3-left" th:text="${user.firstName}+' '+${user.lastName}">Mike Dod</span>
                            <span class="time-block w3-right w3-hide">02.01.2019</span>
                            <br>
                            <span class="s-block w3-left w3-text-theme w3-hide" th:text="${user.firstName}+' '+${user.lastName}">Here is test message, fuck y...</span>
                            <i class="fa fa-check approve w3-right w3-hide"></i>
                        </div>
                    </button>
                </div>
            </div>

            <br>
        </div>

        <!-- Middle Column -->
        <div class="w3-col m9">
            <div class="w3-row-padding w3-margin-bottom">
                <div class="w3-col m12">
                    <div class="w3-container w3-padding w3-white">
                        <div style="height: 600px; overflow-y:scroll">
                            <div id="getMessagesDiv">
                                <div class="messages-list-group">

                                    <div class="w3-text-theme w3-margin">from Kot: hello <a class="w3-right w3-margin-right w3-theme-l0">delete</a><a class="w3-right w3-margin-right w3-theme-l0">edit</a></div>
                                    <div class="w3-text-theme w3-margin">from Me: fu <a class="w3-right w3-margin-right w3-theme-l0">delete</a><a class="w3-right w3-margin-right w3-theme-l0">edit</a></div>
                                </div>
                            </div>
                        </div>
                        <form id="messageSendFrom">
                            <label for="userFromId"></label><input th:value="${loggedUserId}" class="w3-hide" id="userFromId" type="text" name="userFromId">
                            <label for="userToId"></label><input class="w3-hide" id="userToId" type="text" name="userToId">
                            <!--<label for="text"></label><input class="" id="text" type="text" name="userToId">-->
                            <label for="text">
                                <textarea rows="4" cols="50" id="text" name="text" style="height: 100px; width: 100%; border: #dddddd 1px solid; resize: vertical" required></textarea>
                            </label>
                            <div style="height: 50px">
                                <button class="w3-button w3-right w3-theme-d1" style="left: 0; margin-top: 5px; width: 80px">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->

    <!-- Footer -->
    <footer th:replace="common/footer.html :: footer"></footer>
</div>
</body>

<script>
    let recipientDiv;
    let recipientId;

    $(document).ready ( function(){
        // alert(localStorage['recipientId']);
        changeRecipient(localStorage['recipientId']);
    });

    function setRecipient(id){
        let localRecipientId = id;
        if(localRecipientId !== null){
            recipientId = localRecipientId;
            recipientDiv = $('#user'+recipientId);
        }
    }

    function changeRecipient(id) {
        if(localStorage['recipientId'] !== id){
            if($(recipientDiv).hasClass('active-element'))
                $(recipientDiv).removeClass('active-element');

            setRecipient(id);

            $(recipientDiv).addClass('active-element');
            $('#userToId').val(recipientId);

            ajaxGetMessages();
        }
    }

    $("#messageSendFrom").submit(function messageSend(){
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/send-message",
            data: $('#messageSendFrom').serialize(),
            success:function success() {
                $('#text').val('');
                ajaxGetMessages();
            },
            error: function(xhr) {
                alert(xhr.responseText);
            }
        });
    });

    function ajaxGetMessages(){
        // DO GET
        $.ajax({
            type : "GET",
            url : "/get-messages",
            data: {
                userToId: recipientId
            },
            success : function(result) {
                $('#getMessagesDiv div').empty();
                $.each(result, function(i, message){
                    let messageInfo =
                        "<div class=\"w3-text-theme w3-margin\">from "+message.userFrom.lastName+": "+message.text+" <a class=\"w3-right w3-margin-right w3-theme-l0\">delete</a><a class=\"w3-right w3-margin-right w3-theme-l0\">edit</a></div>";
                    $('#getMessagesDiv .messages-list-group').append(messageInfo)
                });
            },
            error : function(e) {
                $('#getMessagesDiv').html("<div class=\"w3-container w3-white w3-margin\">Error</div>");
                console.log("ERROR: "+ e);
            }
        });
    }


</script>
</html>
