<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<title>Find me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="../static/css/theme.css" type="text/css" th:href="@{/css/theme.css}"/>
<link rel="stylesheet" href="../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}"/>
<link rel="stylesheet" href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}"/>
<link rel="stylesheet" href="../static/css/pace.css" type="text/css" th:href="@{/css/pace.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/userProfile.js" th:src="@{/js/userProfile.js}"></script>
<!--<script type="text/javascript" src="../static/js/pace.js" th:src="@{/js/pace.js}"></script>-->
<body>

<header th:replace="common/header.html :: header"></header>

<!-- Page Container -->
<div class="w3-container w3-content" style="margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col l4">
            <!-- Profile -->
            <div class="w3-round w3-white"><!--w3-card-->
                <div class="w3-container">
                    <h4 class="clear-inline w3-padding-small w3-center">
                        <p class="inline w3-center" th:text="${user.firstName}+' '+${user.lastName}">User Name</p>
                        <i th:if="${loggedUser.getId() == user.id}" onclick="$('#editModalForm').show()" class="inline w3-padding-small fa fa-edit fa-fw w3-margin-right w3-text-theme w3-hover-opacity"></i>
                    </h4>
                    <div class="w3-center">
                        <img src="http://agarioskins.com/submitted/useruploads/Thug%20Cat.png" class="w3-circle" style="width:200px" alt="Avatar">
                    </div>
                    <hr>

                    <div class="clear-inline w3-padding-small" th:style="${user.country !=null && user.city != null ? 'display:block' : 'display:none'}">
                        <i class="inline fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.country}+', '+${user.city}">Ukraine, Kiev</div>
                    </div>

                    <div class="w3-padding-small" th:style="${user.phone !=null ? 'display:block' : 'display:none'}">
                        <i class="inline fa fa-phone fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.phone}">+38(063)7777777</div>
                    </div>
                    <div class="w3-padding-small" th:style="${user.age !=null ? 'display:block' : 'display:none'}">
                        <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.age}">28</div>
                    </div>
                    <div class="w3-padding-small" th:style="${user.dateRegistered !=null ? 'display:block' : 'display:none'}">
                        <i class="fa fa-calendar fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.dateRegistered}">17.12.2018 14.00.00</div>
                    </div>
                    <div class="w3-padding-small" th:style="${user.relationshipStatus !=null ? 'display:block' : 'display:none'}">
                        <i class="fa fa-heart fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.relationshipStatus}">married</div>
                    </div>
                    <div class="w3-padding-small" th:style="${user.religion !=null ? 'display:block' : 'display:none'}">
                        <i class="fa fa-church fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.religion}">no religion</div>
                    </div>
                    <div class="w3-padding-small" th:style="${user.school !=null ? 'display:block' : 'display:none'}">
                        <i class="fa fa-chalkboard-teacher fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.school}">№450</div>
                    </div>
                    <div class="w3-padding-small" th:style="${user.university !=null ? 'display:block' : 'display:none'}">
                        <i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-theme"></i>
                        <div class="inline" th:text="${user.university}">KPI bla blaI bla blaI bla blaI b</div>
                    </div>
                    <br>
                </div>
            </div>
            <div style="padding: 10px;">Status: <span th:text="${loggedUser.getId() == user.id ? 'Owner' : (relationshipStatus != null ? relationshipStatus.name() : 'undefined')}">somebody</span></div>

            <div id="relationship-status">
                <div th:if="${loggedUser.getId() == user.id}" class="w3-round"><!--w3-card-->
                    <div class="w3-white">
                        <!--Incoming Friend Request-->
                        <button th:if="${incomingRequests.size() > 0}" onclick="dropDownMenu('incomingReq')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-arrow-left fa-fw w3-margin-right"></i>Incoming requests
                            <span class="w3-right" th:text="${incomingRequests.size()}">5</span>
                        </button>
                        <ul id="incomingReq" class="w3-hide w3-ul"><!--w3-card-->
                            <li class="w3-bar" th:each="usr : ${incomingRequests}" th:id="'incomingReq-' + ${usr.getId()}">
                                <button class="w3-bar-item w3-button w3-white w3-right w3-padding-8" th:onclick="|requestUpdate('${usr.getId()}','REJECTED')|">
                                    <i class="fa fa-times w3-text-theme"></i>
                                </button>
                                <button id="accept" class="w3-bar-item w3-button w3-white w3-right w3-padding-8" th:onclick="|requestUpdate('${usr.getId()}','FRIENDS')|">
                                    <i class="fa fa-check w3-text-theme"></i>
                                </button>
                                <a th:href="@{'/user/' + ${usr.getId()}}">
                                    <img src="http://www.top-madagascar.com/assets/images/admin/user-admin.png" class="w3-bar-item w3-circle w3-hide-small w3-padding-small" style="width:55px">
                                </a>
                                <div class="w3-bar-item dropdown-menu-label">
                                    <span class="w3-large" th:text="${usr.firstName}+' '+${usr.lastName.substring(0,1)}+'.'" style="">Mike D.</span><br>
                                </div>
                            </li>
                        </ul>

                        <!--Outgoing Friend Request-->
                        <button th:if="${outgoingRequests.size() > 0}" onclick="dropDownMenu('outgoingReq')" class="w3-button w3-block w3-theme-l1 w3-left-align">
                            <i class="fa fa-arrow-right fa-fw w3-margin-right"></i>Outgoing requests
                            <span class="w3-right" th:text="${outgoingRequests.size()}">0</span>
                        </button>
                        <ul id="outgoingReq" class="w3-hide w3-ul"><!--w3-card-->
                            <li class="w3-bar" th:each="usr : ${outgoingRequests}" th:id="'outgoingReq-' + ${usr.getId()}">
                                <button class="w3-bar-item w3-button w3-white w3-right w3-padding-8" th:onclick="|requestUpdate('${usr.getId()}','CANCELED')|">
                                    <i class="fa fa-times w3-text-theme"></i>
                                </button>
                                <a th:href="@{'/user/' + ${usr.getId()}}">
                                    <img src="http://www.top-madagascar.com/assets/images/admin/user-admin.png" class="w3-bar-item w3-circle w3-hide-small w3-padding-small" style="width:55px">
                                </a>
                                <div class="w3-bar-item dropdown-menu-label">
                                    <span class="w3-large" th:text="${usr.firstName}+' '+${usr.lastName.substring(0,1)}+'.'" style="">Mike D.</span><br>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div th:if="${relationshipStatus != null}">
                    <div th:if="${relationshipStatus.name() == 'FRIENDS'}" class="w3-round"><!--w3-card-->
                        <div class="w3-white">
                            <button id="removeFriend" class="w3-button w3-block w3-theme-l1 w3-left-align" th:onclick="|requestUpdate('${user.getId()}','DELETED')|">
                                <i class="fa fa-user-minus fa-fw w3-margin-right"></i>Remove Friend
                            </button>
                        </div>
                    </div>
                    <div th:if="${relationshipStatus.name() == 'REQUESTED'}" class="w3-round"><!--w3-card-->
                        <div class="w3-white">
                            <div class="w3-button w3-block w3-left-align">request sent
                                <button class="w3-bar-item w3-button w3-white w3-right w3-padding-8" th:onclick="|requestUpdate('${user.getId()}','CANCELED')|">
                                    <i class="fa fa-times w3-text-theme"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div th:if="${relationshipStatus.name() == 'REJECTED'}" class="w3-round"><!--w3-card-->
                        <div class="w3-pale-red">
                            <div class="w3-button w3-block w3-left-align">request rejected</div>
                        </div>
                    </div>
                </div>
                <div th:if="${(relationshipStatus == null || relationshipStatus.name() == 'CANCELED' || relationshipStatus.name() == 'DELETED') && loggedUser.getId() != user.id}" class="w3-round"><!--w3-card-->
                    <div class="w3-white">
                        <button id="addFriend" class="w3-button w3-block w3-theme-l1 w3-left-align" th:onclick="|requestSave('${user.getId()}')|">
                            <i class="fa fa-user-plus fa-fw w3-margin-right"></i>Add Friend
                        </button>
                    </div>
                </div>
                <br>
            </div>

            <!-- Menu -->
            <div class="w3-round"><!--w3-card-->
                <div class="w3-white">
<!--TODO link on all friends list-->
                    <div th:if="${loggedUser.getId() == user.id || ( relationshipStatus != null && relationshipStatus.name() == 'FRIENDS')}">
                        <a style="text-decoration:none" th:href="@{'/friends-user/' + ${user.getId()}}">
                            <div class="w3-padding w3-block w3-theme-l1 w3-left-align">
                                <i class="fa fa-users fa-fw w3-margin-right"></i>Friends
                                <span class="w3-right" th:text="${friendsCount}">0</span>
                            </div>
                        </a>
                        <div class="w3-container" th:if="${friendsSmallList.size() > 0}">
                            <div class="w3-row-padding">
                                <br>
                                <div th:each="user : ${friendsSmallList}">
                                    <div class="w3-third">
                                        <div class="w3-margin-bottom" >
                                            <a style="text-decoration:none" th:href="@{'/user/' + ${user.getId()}}">
                                                <img src="http://agarioskins.com/submitted/useruploads/Thug%20Cat.png" style="width:100%">
                                                <div class="w3-medium w3-center" style="width: 100%" th:text="${user.firstName}+' '+${user.lastName.substring(0,1)}+'.'">Mike D.</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <!-- Middle Column -->
        <div class="w3-col m8">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-round w3-white"><!--w3-card-->
                        <div class="w3-container w3-padding">
                            <h6 class="w3-opacity">Create new post here: </h6>
                            <p contenteditable="true" class="w3-border w3-padding"></p>
                            <button type="button" class="w3-button w3-theme"><i class="fa fa-pencil-alt"></i>  Post</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Page Container -->
    <!-- Footer -->
    <footer th:replace="common/footer.html :: footer"></footer>
</div>

<div th:if="${loggedUser.getId() == user.id}" style="margin-top: -50px">
    <!-- Edit form MODAL -->
    <div th:replace="forms/userEditForm.html :: editModalForm"></div>
</div>
</body>

<script>
    function dropDownMenu(id) {
        let x = document.getElementById(id);
        if (x.className.indexOf("w3-show") === -1) {
            x.className += " w3-show";
            x.previousElementSibling.className += " w3-theme-d1";
        } else {
            x.className = x.className.replace("w3-show", "");
            x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
        }
    }

    var modal = document.getElementById('editModalForm');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    $(document).keydown(function(e) {
        var code = e.keyCode || e.which;
        if (code == 27) $(".w3-modal").hide();
    });

    $("#user-edit-form").submit(function userEditSubmit() {
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/edit-user",
            data: $('#user-edit-form').serialize(),
            success:function success() {
                alert('User data edited');
                $('#editModalForm').hide()
            },
            error: function(xhr) {
                alert(xhr.responseText);
            }
        });
    });

    function requestSave(userId) {
        $.ajax({
            type: "POST",
            url: "/request-save",
            dataType: "text",
            data: {"userId": userId},
            success: function success() {
                window.location.reload(true);
            },
            error: function(xhr) {
                alert(xhr.responseText);
            }
        });
    }

    function requestUpdate(userId, status) {
        $.ajax({
            type: "POST",
            url: "/request-update",
            dataType: "text",
            data: {"userId": userId, "status": status},
            success: function success() {
                window.location.reload(true);
            },
            error: function(xhr) {
                alert(xhr.responseText);
            }
        });
    }



</script>
</html>
