<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find me</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<header>Find Me</header>
<body>
    <div class="w3-content main-container">
        <div class="w3-row">
            <div class="w3-col s4 w3-padding">
                <div class="photo-container">Photo</div>
                <div>
                    <button class="btn">Send message</button>
                </div>
            </div>

            <div class="w3-col s8 w3-padding">
                <div class="name-label" th:text="${user.firstName}+' '+${user.lastName}">User name</div>
                <div>
                    <div class="form-inline">
                        <label>Phone:</label>
                        <p th:text="${user.phone}">+38(063)7777777</p>
                    </div>
                    <div class="form-inline">
                        <label>Country:</label>
                        <p class="" th:text="${user.country}">Ukraine</p>
                    </div>
                    <div class="form-inline">
                        <label>City:</label>
                        <p class="" th:text="${user.city}">Kiev</p>
                    </div>
                    <div class="form-inline">
                        <label>Age:</label>
                        <p class="" th:text="${user.age}">28</p>
                    </div>
                    <div class="form-inline">
                        <label>Registration date:</label>
                        <p class="" th:text="${user.dateRegistered}">17.12.2018 14.00.00</p>
                    </div>
                    <div class="form-inline">
                        <label>Relationship Status:</label>
                        <p class="" th:text="${user.relationshipStatus}">Used</p>
                    </div>
                    <div class="form-inline">
                        <label>Religion:</label>
                        <p class="" th:text="${user.religion}">No matter</p>
                    </div>
                    <div class="form-inline">
                        <label>School:</label>
                        <p class="" th:text="${user.school}">Some school</p>
                    </div>
                    <div class="form-inline">
                        <label>University:</label>
                        <p class="" th:text="${user.university}">Some university blabla bla blablaa bla blablabla</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer></footer>

</html>