<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">


<title>Find me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
<link rel="stylesheet" href="../static/css/theme.css" type="text/css" th:href="@{/css/theme.css}"/>
<link rel="stylesheet" href="../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}"/>
<link rel="stylesheet" href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
<div id="loaderGif"></div>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-theme-d2 w3-left-align w3-large">
        <a href="/" th:href="@{/}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Find me</a>
        <a href="/" th:href="@{/}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
        <a href="/" th:href="@{/}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large" th:text="${session.loggedUserId != null ? session.loggedUserName : ''}">User Name</a>
        <!--<img class="w3-bar-item w3-right" src="http://www.top-madagascar.com/assets/images/admin/user-admin.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">-->
        <a href="#" th:href="@{/logout}" class="w3-bar-item w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout" th:style="${session.loggedUserId==null ? 'display:none' : 'display:block'}">
            <i class="fa fa-sign-out-alt"></i>
        </a>
        <a href="#" th:href="@{/}" class="w3-bar-item w3-hide-small w3-right w3-padding-large w3-hover-white" title="Login" th:style="${session.loggedUserId==null ? 'display:block' : 'display:none'}">
            <i class="fa fa-sign-in-alt"></i>
        </a>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Messages</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" th:text="${session.loggedUserId != null ? session.loggedUserName : ''}">User Name</a>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m12">
            <!--&lt;!&ndash; Profile &ndash;&gt;-->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">

                    <form id="user-edit-form" class="input-form">
                        <div class="w3-container w3-margin">
                            <h4 class="w3-opacity">Edit profile</h4>
                            <hr>
                            <p class="w3-opacity">Main information</p>
                            <input class="w3-hide" id="id" type="text" name="id" th:value="${user.id}">
                            <div class="w3-padding-small">
                                <label for="first_name" class="w3-margin-right w3-text-theme">First name: </label>
                                <input class="w3-border w3-padding" id="first_name" type="text" name="firstName" th:value="${user.firstName}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="last_name" class="w3-margin-right w3-text-theme">Last name: </label>
                                <input class="w3-border w3-padding" id="last_name" type="text" name="lastName" th:value="${user.lastName}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="phone" class="w3-margin-right w3-text-theme">Phone: </label>
                                <input class="w3-border w3-padding" id="phone" type="text" name="phone" th:value="${user.phone}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="email" class="w3-margin-right w3-text-theme">Email: </label>
                                <input class="w3-border w3-padding" id="email" type="text" name="email" th:value="${user.email}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="password" class="w3-margin-right w3-text-theme">Password: </label>
                                <input class="w3-border w3-padding" id="password" type="password" name="password" th:value="${user.password}">
                            </div>
                            <hr>
                            <p class="w3-opacity">Additional information</p>
                            <div class="w3-padding-small">
                                <label for="country" class="w3-margin-right w3-text-theme">Country: </label>
                                <input class="w3-border w3-padding" id="country" type="text" name="country" th:value="${user.country}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="city" class="w3-margin-right w3-text-theme">City: </label>
                                <input class="w3-border w3-padding" id="city" type="text" name="city" th:value="${user.city}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="age" class="w3-margin-right w3-text-theme">Age: </label>
                                <input class="w3-border w3-padding" id="age" type="text" name="age" th:value="${user.age}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="relationshipStatus" class="w3-margin-right w3-text-theme">Relationship status: </label>
                                <input class="w3-border w3-padding" id="relationshipStatus"type="text" name="relationshipStatus" th:value="${user.relationshipStatus}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="religion" class="w3-margin-right w3-text-theme">Religion: </label>
                                <input class="w3-border w3-padding" id="religion" type="text" name="religion" th:value="${user.religion}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="school" class="w3-margin-right w3-text-theme">School: </label>
                                <input class="w3-border w3-padding" id="school" type="text" name="school" th:value="${user.school}">
                            </div>
                            <div class="w3-padding-small">
                                <label for="university" class="w3-margin-right w3-text-theme">University: </label>
                                <input class="w3-border w3-padding" id="university" type="text" name="university" th:value="${user.university}">
                            </div>
                            <hr>
                            <div class="w3-padding-small">
                                <label id="loading" class="w3-margin-right w3-text-theme"><p style="display:none">waiting... </p></label>
                                <button type="submit" class="w3-button w3-theme">Save</button>
                            </div>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
<!-- Footer -->
<footer class="w3-center custom-footer">
    <p>Footer копирайты</p>
</footer>


<script>
    var loader = $('#loaderGif');

    $("#user-edit-form").submit(function userEditSubmit() {
        loader.show();
        event.preventDefault();
        debugger;
        $.ajax({
            type: "POST",
            url: "/edit-user",
            // async: false,
            data: $('#user-edit-form').serialize(),
            success:function success() {
                debugger;
                loader.hide();
                alert('User data edited');
                // window.location.reload(true);
            },
            error: function(xhr) {
                debugger;
                loader.hide();
                alert(xhr.responseText);
            }
        });
    });
</script>

</body>
</html>
