<!DOCTYPE HTML>

<html>
<head>
    <title>Spring Boot - AJAX POST GET Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="../static/css/theme.css" type="text/css" th:href="@{/css/theme.css}"/>
    <link rel="stylesheet" href="../static/css/profile.css" type="text/css" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="../static/css/pace.css" type="text/css" th:href="@{/css/pace.css}"/>
</head>
<body>

<div class="container">

    <h3 style="color:blue">Hui</h3>

    <div>
        <form class="form-inline" style="margin:20px 20px 20px 20px" id="customerForm" th:object="${Customer}">
            <div class="form-group">
                <label for="firstname" style="margin-right:5px">FirstName:</label>
                <input type="text" class="form-control" id="firstname" placeholder="Enter FirstName" name="firstname"/>
            </div>
            <div class="form-group">
                <label for="lastname" style="margin-left:20px; margin-right:5px">LastName:</label>
                <input type="text" class="form-control" id="lastname" placeholder="Enter LastName" name="lastname"/>
            </div>
            <button type="submit" class="btn btn-default" style="margin-left:20px; margin-right:5px">Submit</button>
        </form>
    </div>

    <div class="col-sm-7" id="postResultDiv">
    </div>

    <div class="w3-row-padding">
        <!--th:if="${userPagePostList != null}"-->
        <div class="w3-col m7">
            <form id="post_filter_form" class="w3-white" th:object="${FilterPagePosts}">
                <div class="w3-container w3-padding" style="position: relative">
                    <h6 class="w3-opacity inline">Filters: </h6>
                    <input id="ownerPosts" type="checkbox" class="inline w3-margin-left" name="ownerPosts"><label class="w3-opacity" style="margin-left: 5px">Owner posts</label>
                    <input id="friendsPosts" type="checkbox" class="inline w3-margin-left" name="friendsPosts"><label class="w3-opacity" style="margin-left: 5px">Friends posts</label>
                    <input id="userPostedId" class="w3-border" style="margin-left: 15px" placeholder="User id:" type="text" name="userPostedId">
                    <button type="submit" class="fa fa-filter w3-button w3-text-theme w3-padding-large" style="position: absolute; margin-top: -5px; right: 0"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="col-sm-7" style="margin:20px 0px 20px 0px">
        <button id="getAllCustomerId" type="button" class="btn btn-primary">Get All Customers</button>
        <div id="getResultDiv" style="padding:20px 10px 20px 50px">
            <ul class="list-group">
            </ul>
        </div>
    </div>

</div>
</body>

</body>

<script>

    $( document ).ready(function() {

        // SUBMIT FORM
        $("#customerForm").submit(function(event) {
            // Prevent the form from submitting via the browser.
            event.preventDefault();
            ajaxPost();
        });

        // FILTER FORM
        $("#post_filter_form").submit(function(event) {
            // Prevent the form from submitting via the browser.
            event.preventDefault();
            ajaxFilterPost();
        });


        function ajaxPost(){
            // DO POST
            $.ajax({
                type : "POST",
                url : window.location + "/api/customer/save",
                data : $('#customerForm').serialize(),
                success : function(result) {
                    $("#postResultDiv").html("<p style='background-color:#7FA7B0; color:white; padding:20px 20px 20px 20px'>" +
                        "Post Successfully! <br>" +
                        "---> Customer's Info: FirstName = " +
                        result.firstname + " ,LastName = " + result.lastname + "</p>");

                    console.log(result);
                },
                error : function(e) {
                    alert("Error!")
                    console.log("ERROR: ", e);
                }
            });

            // Reset FormData after Posting
            resetData();

        }

        function resetData(){
            $("#firstname").val("");
            $("#lastname").val("");
        }

        function ajaxFilterPost(){
            // DO POST
            $.ajax({
                type : "POST",
                url : window.location + "/get-filtered-posts",
                data : $('#post_filter_form').serialize(),
                success : function(result) {
                    $('#getResultDiv ul').empty();
                    $.each(result, function(i, post){
                        // var customer = "- Customer with Id = " + i + ", firstname = " + customer.firstname + ", lastName = " + customer.lastname + "<br>";
                        var postInfo = "<div class=\"w3-container w3-white w3-margin\" style=\"position: relative\">\n" +
                            "                    <div>\n" +
                            "                        <br>\n" +
                            "                        <img src=\"http://agarioskins.com/submitted/useruploads/Thug%20Cat.png\" alt=\"Avatar\" class=\"w3-left w3-circle w3-margin-right\" style=\"width:60px\">\n" +
                            "                        <span class=\"w3-right w3-opacity\" style=\"margin-right: 50px\">some time ago</span>\n" +
                            "                        <h4 class=\"inline\">"+post.userPosted.firstName+" "+post.userPosted.lastName.substring(0,1)+".</h4>\n" +
                            "                            <p class=\"inline w3-opacity w3-margin-left\">with somebody</p><br>\n" +
                            "                        <hr class=\"w3-clear\">\n" +
                            "                        <p>"+post.message+"</p>\n" +
                            "                    </div>\n" +
                            "                </div>";
                        $('#getResultDiv .list-group').append(postInfo)
                    });
                },
                error : function(e) {
                    alert("Error!")
                    console.log("ERROR: "+ e);
                }
            });

            // Reset FormData after Posting
            resetData();

        }
    })

    $( document ).ready(function() {

        // GET REQUEST
        $("#getAllCustomerId").click(function(event){
            event.preventDefault();
            ajaxGet();
        });

        // DO GET
        function ajaxGet(){
            $.ajax({
                type : "GET",
                url : window.location + "/api/customer/all",
                success: function(result){
                    $('#getResultDiv ul').empty();
                    $.each(result, function(i, customer){
                        // var customer = "- Customer with Id = " + i + ", firstname = " + customer.firstname + ", lastName = " + customer.lastname + "<br>";
                        var postInfo = "<div class=\"w3-container w3-white w3-margin\" style=\"position: relative\">\n" +
                            "                    <div>\n" +
                            "                        <br>\n" +
                            "                        <img src=\"http://agarioskins.com/submitted/useruploads/Thug%20Cat.png\" alt=\"Avatar\" class=\"w3-left w3-circle w3-margin-right\" style=\"width:60px\">\n" +
                            "                        <span class=\"w3-right w3-opacity\" style=\"margin-right: 50px\">1 min</span>\n" +
                            "                        <h4 class=\"inline\">"+customer.firstname+" "+customer.lastname+"</h4>\n" +
                            "                            <p class=\"inline w3-opacity w3-margin-left\"> test</p><br>\n" +
                            "                        <hr class=\"w3-clear\">\n" +
                            "                        <p th:text=\"${post.message}\">id: "+i+"</p>\n" +
                            "                    </div>\n" +
                            "                </div>";
                        $('#getResultDiv .list-group').append(postInfo)
                    });
                    console.log("Success: ", result);
                },
                error : function(e) {
                    $("#getResultDiv").html("<strong>Error</strong>");
                    console.log("ERROR: ", e);
                }
            });
        }
    })


</script>
</html>